{% extends 'main/layout.html' %}

{% block content %}
    {% if user.is_authenticated  %}
        <p>Добро пожаловать, {{ user.username }}!</p>
        <h3>Роли:</h3>
        <p>
            {% if user.is_staff  %}
                <p>Администратор</p>
            {% else %}
                {% for group in user.groups.all %}
                    <p>{{ group.name }}</p>
                {% endfor %}
            {% endif %}
        </p>
        <a href="{% url 'exit' %}">Выйти</a>

        {% if user.is_staff  %}
                {% include 'main/tablesMain.html' %}
            {% else %}
                {% if user.groups.all  %}
                    {% for group in user.groups.all %}
                        {% if group.name == "Работники банков"  %}
                            {% include 'main/tables_1.html' %}
                        {% else %}
                            {% if group.name == "Рекрутёры"  %}
                                {% include 'main/tables_2.html' %}
                            {% else %}
                                {% include 'main/tables_1.html' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% include 'main/tables.html' %}
                {% endif %}
            {% endif %}

    {% else %}
        <a href="{% url 'registration' %}">Регистрация</a>
        <a href="{% url 'authorization' %}">Авторизация</a>

        <p>Для просмотра базы данных необходимо зарегистрироваться</p>
    {% endif %}
{% endblock %}